name: Build PR Image

on:
  pull_request:

permissions:
  contents: read
  packages: read

jobs:
  build-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Build image for PR validation
        uses: blue-build/github-action@v1.8.2
        with:
          recipe: recipe.yml
          no-sign: true
          registry_token: ${{ github.token }}
