name: Build and Push Image

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '30 5 * * 0'

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        recipe:
          - recipe.yml
    steps:
      - name: Build image
        uses: blue-build/github-action@v1.8.2
        with:
          recipe: recipes/${{ matrix.recipe }}
          cosign_private_key: ${{ secrets.SIGNING_SECRET }}
